[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-widget-tweaks = "*"
requests = "*"
coverage = "*"
django-excel-response = "*"
six = "*"
pip = "*"
install = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
