{% extends 'portfolio/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
    <main role="main">
        <header class="page-heading">
            <h1>About</h1>
        </header>
        <section class="page-content">
            <div class="grid-container">
                <div class="header">
                    <div class="cell-header-title">Hello. My name is <strong id="name">Mark King</strong></div>
                    <br>
                    <div class="cell-header-content">
                        <p>I am a <strong id="title">Full Stack Web Developer</strong> with the following <u>technical skills:</u></p>
                    </div>
                </div>
                <div class="language">
                    <div class="cell-title">Programming Languages:</div>
                    <div class="cell-content">
                        Python<br>
                        Javascript<br>
                        SQL
                    </div>
                </div>
                <div class="framework">
                    <div class="cell-title">Frameworks:</div>
                    <div class="cell-content">
                        Flask<br>
                        Bootstrap
                    </div>
                </div>
                <div class="version">
                    <div class="cell-title">Version Control:</div>
                    <div class="cell-content">
                        Git
                    </div>
                </div>
                <div class="markup">
                    <div class="cell-title">Markup Languages:</div>
                    <div class="cell-content">
                        HTML<br>
                        CSS
                    </div>
                </div>
                <div class="database">
                    <div class="cell-title">Database (ORDBMS):</div>
                    <div class="cell-content">
                        PostgreSQL
                    </div>
                </div>
                <div class="agile">
                    <div class="cell-title">Agile Project Mgmt Tool(s):</div>
                    <div class="cell-content">
                        Jira<br>
                        Trello
                    </div>
                </div>
            </div><!-- End grid-container div-->
        </section>
    </main>
{% endblock %}