body {
    min-width: 100%;
    min-height: 100%;
}

.background-home {
    min-width: 100%;
    min-height: 100%;
    background-image: url('/static/portfolio/css/img/code.jpg');
    background-size: cover;
    margin: -15px -15px;
    position: absolute;
    text-align: center;
}

.jumbotron {
    position: relative;
	display: inline-block;
	margin-top: 150px;
}

h1 {
    color: purple;
}