{% if loc %}
    <div id="area-select">
        <label for="item_area">Area</label>
        <select
            class="form-control form-control-sm"
            id="item_area"
            name="item_area"
        >
            <option
            selected="true"
            value="-1"
            disabled
            >
            --- Select an Area ---
            </option>
            {% for a in areas %}
                <option value="{{ a.id }}">
                    {{ a.name }}
                </option>
            {% endfor %}
        </select>
    </div>
{% endif %}