{% extends 'inventory/layout.html' %}
{% load static %}
{% block title %}Edit Item{% endblock %}
{% block body %}
<div class="page-content">
    <div class="container-fluid">
        <legend class="border-bottom mb-4">
        Edit Item
        </legend>
        <div class="editItemForm">
            <form class="form" method="POST">
                {% csrf_token %}
                {% if entry_to_edit %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="asset_id">Asset ID</label>
                            <input
                                type="text"
                                class="form-control form-control-sm"
                                id="asset_id"
                                name="asset_id"
                                value="{{entry_to_edit.asset_id}}"
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="stat">Status</label>
                            <select
                              class="form-control form-control-sm"
                              id="stat"
                              name="stat"
                            >
                                <option
                                selected="true"
                                value="{{ entry_to_edit.stat.pk }}"
                                >
                                {{ entry_to_edit.stat }}
                                </option>
                                {% for s in stat_list %}
                                    <option value="{{ s.id }}">
                                        {{ s.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="name">Item</label>
                            <input
                                type="text"
                                class="form-control form-control-sm"
                                id="name"
                                required="true"
                                name="name"
                                value="{{entry_to_edit.name}}"
                            />
                        </div>
                        <div class="col-sm-3">
                            <label for="item_location">Location</label>
                            <select
                                class="form-control form-control-sm"
                                id="item_location"
                                name="item_location"
                                hx-get="{% url 'inventory:load_areas' %}"
                                hx-trigger="change"
                                hx-target="#areasDiv"
                                hx-select="#area-select"
                            >
                                <option
                                selected="true"
                                value="{{ entry_to_edit.item_location.pk }}"
                                >
                                    {{ entry_to_edit.item_location }}
                                </option>
                                {% for l in loc_list %}
                                    <option value="{{ l.id }}">
                                       {{ l.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="areasDiv" class="col-sm-3">
                            <label for="item_area">Area</label>
                            <select
                              class="form-control form-control-sm"
                              id="item_area"
                              name="item_area"
                            >
                            <option
                            selected="true"
                            value="{{ entry_to_edit.item_area.pk }}"
                            >
                                {{ entry_to_edit.item_area }}
                            </option>
                                {% for a in area_list %}
                                    <option value="{{ a.id }}">
                                       {{ a.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="mfg">Manufacturer</label>
                            <select
                              class="form-control form-control-sm"
                              id="mfg"
                              name="mfg"
                            >
                                <option
                                selected="true"
                                value="{{ entry_to_edit.mfg.pk }}"
                            >
                                {{ entry_to_edit.mfg }}
                                </option>
                                {% for m in mfg_list %}
                                    <option value="{{ m.id }}">
                                        {{ m.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="model_no">Model #</label>
                            <input
                                type="text"
                                class="form-control form-control-sm"
                                id="model_no"
                                required="true"
                                name="model_no"
                                value="{{entry_to_edit.model_no}}"
                            />
                        </div>
                        <div class="col-sm-3">
                            <label for="serial_no">Serial #</label>
                            <input
                                type="text"
                                class="form-control form-control-sm"
                                id="serial_no"
                                name="serial_no"
                                value="{{entry_to_edit.serial_no}}"
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="qty">Qty</label>
                            <input
                                type="number"
                                min="1"
                                class="form-control form-control-sm"
                                id="qty"
                                required="true"
                                name="qty"
                                value="{{entry_to_edit.qty}}"
                            />
                        </div>
                        <div class="col-sm-3">
                            <label for="total_cost">Total Cost</label>
                            <input
                                type="number"
                                min="0"
                                step="0.01"
                                class="form-control form-control-sm"
                                id="total_cost"
                                required="true"
                                name="total_cost"
                                value="{{entry_to_edit.total_cost}}"
                            />
                        </div>
                        <div class="col-sm-3">
                            <label for="cost_per_item">Cost/Item</label>
                            <input
                                type="number"
                                min="0"
                                step="0.01"
                                class="form-control form-control-sm"
                                id="total_cost"
                                name="cost_per_item"
                                readonly="true"
                                value="{{entry_to_edit.cost_per_item}}"
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="assigned_to">Assigned To</label>
                            <select
                              class="form-control form-control-sm"
                              id="assigned_to"
                              name="assigned_to"
                              required="true"
                            >
                                <option
                                selected="true"
                                value="{{ entry_to_edit.assigned_to.pk }}"
                                >
                                    {{ entry_to_edit.assigned_to }}
                                </option>
                                {% for a in assignee_list %}
                                    <option value="{{ a.id }}">
                                        {{ a.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="approved_by">Approved By</label>
                            <select
                              class="form-control form-control-sm"
                              id="approved_by"
                              name="approved_by"
                              required="true"
                            >
                                <option
                                selected="true"
                                value="{{ entry_to_edit.approved_by.pk }}"
                                >
                                    {{ entry_to_edit.approved_by }}
                                </option>
                                {% for a in approvers_list %}
                                    <option value="{{ a.id }}">
                                        {{ a.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="approved_date">Approval Date</label>
                            <input
                                type="date"
                                data-date-format="mm/dd/yyyy"
                                class="form-control form-control-sm"
                                id="approved_date"
                                required="true"
                                name="approved_date"
                                value="{{entry_to_edit.approved_date|date:'Y-m-d'}}"
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="purchased_from">Purchased From</label>
                            <input
                                type="text"
                                class="form-control form-control-sm"
                                id="purchased_from"
                                name="purchased_from"
                                value="{{entry_to_edit.purchased_from}}"
                            />
                        </div>
                        <div class="col-sm-3">
                            <label for="purchase_date">Purchase Date</label>
                            <input
                                type="date"
                                data-date-format="mm/dd/yyyy"
                                class="form-control form-control-sm"
                                id="purchase_date"
                                required="true"
                                name="purchase_date"
                                value="{{entry_to_edit.purchase_date|date:'Y-m-d'}}"
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="description">Description</label>
                            <textarea
                                class="form-control form-control-sm"
                                id="decription"
                                name="description"
                                required="true"
                                rows="3"
                            >{{entry_to_edit.description}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inserted_by">Inserted By</label>
                            <input
                                type="text"
                                class="form-control form-control-sm"
                                id="inserted_by"
                                readonly="true"
                                name="inserted_by"
                                value="{{entry_to_edit.inserted_by}}"
                            />
                        </div>
                        <div class="col-sm-3">
                            <label for="inserted_date">Inserted Date</label>
                            <input
                                type="date"
                                class="form-control form-control-sm"
                                id="inserted_date"
                                readonly="true"
                                name="inserted_date"
                                value="{{entry_to_edit.inserted_date|date:'Y-m-d'}}"
                            />
                        </div>
                        <div class="col-sm-3">
                            <label for="modified_by">Modified By</label>
                            <input
                                type="text"
                                class="form-control form-control-sm"
                                id="modified_by"
                                readonly="true"
                                name="modified_by"
                                value="{{entry_to_edit.modified_by}}"
                            />
                        </div>
                        <div class="col-sm-3">
                            <label for="modified_date">Modified Date</label>
                            <input
                                type="date"
                                data-date-format="mm/dd/yyyy"
                                class="form-control form-control-sm"
                                id="modified_date"
                                readonly="true"
                                name="modified_date"
                                value="{{entry_to_edit.modified_date|date:'Y-m-d'}}"
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <button
                            class="btn btn-success btn-sm"
                            id="submit"
                            style="margin-right: 20px;"
                            >
                                Update
                            </button>
                            <a
                            href="{% url 'inventory:inventory'%}"
                            class="btn btn-secondary btn-sm"
                            type="submit"
                            >
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
