{% extends 'inventory/layout.html' %}
{% load static %}
{% block title %}Summary{% endblock %}
{%block body %}
<div class="page-content">
    <div class="container">
        <main>
            <legend class="border-bottom mb4">
                Inventory Summary
            </legend>
            {% if msg %}
                <p class="no_records">{{msg}}</p>
            {% else %}
                {% autoescape off %}
                    {{ grouped_df|safe }}
                {% endautoescape %}
                <!-- {% autoescape off %}
                    {{ plt_div_bar }}
                {% endautoescape %} -->
                <br>
                <br>
                {% autoescape off %}
                    {{ plt_div_pie }}
                {% endautoescape %}
            {% endif %}
        </main>
    </div>
</div>
{% endblock %}
