{% extends 'residential/residential_base.html' %}
{% block title %}Add Task{% endblock %}
{% block body %}
{% load static %}
<div class="container">
    <header class="page-heading">
        <h1>Add Task</h1>
    </header>
    <hr>
    <form class="form" method="POST">
        {%csrf_token%}
        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">
                    <label for="task_date">Task Date:</label>
                    <input
                        type="date"
                        class="form-control form-control-sm"
                        data-date-format="mm/dd/yyyy"
                        id="task_date"
                        name="task_date"
                        required="true"
                    />
                </div>
                <div class="col-sm-9">
                    <label for="documentation">Documentation Link:</label>
                    <input
                        class="form-control form-control-sm"
                        type="text"
                        id="documentation"
                        name="documentation"
                    />
                </div>
            </div> <!-- end row -->
            <div class="row">
                <div class="col-sm-6">
                    <label for="vendor">Vendor</label>
                    <select
                        class="form-control form-control-sm"
                        id="vendor"
                        name="vendor"
                        required="true"
                    />
                        <option
                        selected="true"
                        value="Select a Vendor"
                        disabled
                        >
                            Select a Vendor
                        </option>
                        {% for vendor in vendors %}
                        <option value="{{ vendor.id}}">
                            {{ vendor.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-6">
                        <label for="name">Task Name:</label>
                        <input
                            class="form-control form-control-sm"
                            id="name"
                            name="name"
                        />
                </div>
            </div>  <!-- end row -->
            {% if form.vendor.errors or form.name.errors %}
            <div class="row">
                <div class="col-sm-6 err">
                    {% for error in form.vendor.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </div>
                <div class="col-sm-6 err">
                    {% for error in form.name.errors %}
                        {{ error|escape }}
                    {% endfor %}
                </div>
            </div>  <!-- end row -->
            {% endif %}
            <div class="row">
                <div class="col-sm-4">
                        <label for="vendor_rep">Vendor Rep:</label>
                        <input
                            class="form-control form-control-sm"
                            id="vendor_rep"
                            name="vendor_rep"
                        />
                </div>
                <div class="col-sm-4">
                        <label for="contact_num">Contact Number:</label>
                        <input
                            type="text"
                            class="form-control form-control-sm"
                            id="contact_num"
                            name="contact_num"
                        />
                </div>
                <div class="col-sm-4">
                        <label for="cost">Cost:</label>
                        <div class="input-group-append input-group-sm">
                            <span class="form-control-sm input-group-text input-group-sm">$</span>
                        <input
                            type="number"
                            class="form-control form-control-sm"
                            id="cost"
                            name="cost"
                            required="true"
                            step=".01"
                            value="0"
                        />
                    </div>
                </div>
            </div>  <!-- end row -->
                <div class="row">
                <div class="col-sm-12">
                    <label for="notes">Notes:</label>
                    <textarea
                        class="form-control form-control-sm textarea"
                        id="notes"
                        name="notes"
                        row="10"
                    />
                    </textarea>
                </div>
            </div> <!-- end row -->
        </div> <!-- end form group -->
        <br>
        <div class="form-group">
            <button
                class="btn btn-sm btn-primary"
                id="add_task_btn"
                type="submit"
                >
                    Submit
            </button>
            <button
                class="btn btn-sm btn-secondary"
                onclick="javascript:history.back()"
            >
                Cancel
            </button>
        </div>
    </form>
</div>
{% endblock %}
