{% extends 'residential/residential_base.html' %}
{% block title %}Residential Home{% endblock %}
{% block body %}
{% load static %}
<div>
    <main role="main">
            <header class="page-heading">
                <h1>Residential Home</h1>
            </header>
            <section class="page-content">
                    <div class="grid-container">
                        <div id="longleaf">
                            <img
                            src="{% static  'residential/img/HomeImage.jpg' %}"
                            alt="Image of house"
                            class="responsive"
                            />
                        </div>
                    </div>
            </section>
        </main>
</div>
{% endblock %}
