{% extends 'automotive/autos_base.html' %}
{% block title %}Autos Home{% endblock %}
{% block body %}
{% load static %}
<div>
    <main role="main">
            <header class="page-heading">
                <h1>Automotive Home</h1>
            </header>
            <section class="page-content">
                    <div class="grid-container">
                        <div id="max">
                            <img
                            src="{% static  'automotive/img/max.png' %}"
                            alt="2016 Nissan Maxima"
                            class="responsive"
                            />
                        </div>
                        <div id="bmw">
                            <img
                            src="{% static  'automotive/img/bmw.png' %}"
                            alt="2014 BMW 535I xDrive"
                            class="responsive"
                            />
                        </div>
                    </div>
            </section>
        </main>
</div>
{% endblock %}
